In [16]:
import pandas as pd

wineratings = pd.read_csv("wine-ratings.csv")

In [17]:
wineratings.head()

,Unnamed: 0,name,grape,region,variety,rating,notes
0,0,1000 Stories Bourbon Barrel Aged Batch Blue Ca...,NaN,"Mendocino, California",Red Wine,91,"This is a very special, limited release of 100..."
1,1,1000 Stories Bourbon Barrel Aged Gold Rush Red...,NaN,California,Red Wine,89,The California Gold Rush was a period of coura...
2,2,1000 Stories Bourbon Barrel Aged Gold Rush Red...,NaN,California,Red Wine,90,The California Gold Rush was a period of coura...
3,3,1000 Stories Bourbon Barrel Aged Zinfandel 2013,NaN,"North Coast, California",Red Wine,91,"The wine has a deep, rich purple color. An int..."
4,4,1000 Stories Bourbon Barrel Aged Zinfandel 2014,NaN,California,Red Wine,90,Batch #004 is the first release of the 2014 vi...

In [18]:
wineratings = wineratings[wineratings['variety'] == 'White Wine']
print(type(wineratings))

<class 'pandas.core.frame.DataFrame'>

In [19]:
wineratings.head()

,Unnamed: 0,name,grape,region,variety,rating,notes
12,12,14 Hands Chardonnay 2011,NaN,Washington,White Wine,89,This Chardonnay displays aromas and flavors of...
16,16,14 Hands Riesling 2014,NaN,Washington,White Wine,88,This crisp Riesling shows bright flavors of ap...
17,17,14 Hands Riesling 2015,NaN,Washington,White Wine,88,This crisp Riesling shows bright flavors of ap...
18,18,14 Hands Riesling 2016,NaN,Washington,White Wine,88,This crisp Riesling shows bright flavors of ap...
26,26,1865 Single Vineyard Sauvignon Blanc 2011,NaN,Chile,White Wine,91,"Almost transparent pale yellow, young, with gr..."

In [20]:
import json
print(type(wineratings))
wineratings = wineratings.to_json()

<class 'pandas.core.frame.DataFrame'>

In [21]:
with open("white-wine-ratings.json", "w") as f:
    json.dump(wineratings, f)